# 기본 target
TARGET_DEFAULT=C:\work\wecostay_home_nuxt

# 여러 target 등록 예시
TARGET_WECOSTAY_HOME_NUXT=C:\work\wecostay_home_nuxt
TARGET_PLATFORM_API=C:\work\platform_api
TARGET_PLATFORM_LOBBY_API=C:\work\platform_lobby_api
TARGET_QR_CHECKIN=C:\work\wecostay_qr_checkin
TARGET_QR_LUGGAGE=C:\work\wecostay_qr_luggage

# Google One AI 요금제 및 Gemini 연동 API Key
# 여기에 실제 사용자의 API Key를 입력하세요.
GEMINI_API_KEY=GEMINI_API_KEY